body {
    background-color: #000000;
    margin: 0px;
    overflow: hidden;
}
.connect-panel{
     /*margin-top:20%;*/
 }

.warzone{
        /*no-repeat center center fixed;*/
     /*-webkit-background-size: cover;*/
     /*-moz-background-size: cover;*/
     /*-o-background-size: cover;*/
     /*background-size: cover;*/
 }