<h1>Control Panel</h1>
<div class="row">
	<div class="col-lg-12 col-sm-12 col-xs-12">
		<button type="btn" class="btn btn-lg btn-success btn-block" ng-click="home.redirToWarzone()">Go to War Zone</button>
		<button type="btn" class="btn btn-lg btn-success btn-block" ng-click="home.redirToAr()">Go to AR Test Page</button>
		<button type="btn" class="btn btn-lg btn-success btn-block" ng-click="home.redirToFirstAR()">Bangkok AR</button>
		<button type="btn" class="btn btn-lg btn-success btn-block" ng-click="home.redirToSecondAR()">Disneyland AR</button>
		<button type="btn" class="btn btn-lg btn-danger btn-block" ng-click="home.attack()">Attack</button>
	</div>

</div>
