<h1>First AR</h1>

<script>
	if(Meteor.isClient){
		window.ARThreeOnLoad = function(){

			ARController.getUserMediaThreeScene({
				maxARVideoSize:320,
				cameraParam: 'Data/cam/camera_para.dat',
				onSuccess: function(arScene,arController,arCamera){
					var marker;
					var markerZero;
					var markerOne;
					var markerTwo;
					var markerThree;
					var markerFour;

//					 arController.setPatternDetectionMode(artoolkit.AR_MATRIX_CODE_DETECTION);

					var videosUrl = [
						'ar_assets/video/pokemon.mp4',
						'ar_assets/video/clash.mp4',
						'ar_assets/video/sintel.mp4',
						'ar_assets/video/unity.mp4',
						'ar_assets/video/ppap.mp4'
					]

					var randVidCounter = Math.floor(Math.random()*videosUrl.length);

					var rVid1 = Math.floor(Math.random()*videosUrl.length);
					var rVid2 = Math.floor(Math.random()*videosUrl.length);
					var rVid3 = Math.floor(Math.random()*videosUrl.length);
					var rVid4 = Math.floor(Math.random()*videosUrl.length);
					var rVid5 = Math.floor(Math.random()*videosUrl.length);

					if(rVid1 == rVid2 || rVid1 == rVid3 || rVid1 == rVid4 || rVid1 == rVid5){
						rVid1 = Math.floor(Math.random()*videosUrl.length);
					}

					if(rVid2 == rVid1 || rVid2 == rVid3 || rVid2 == rVid4 || rVid2 == rVid5){
						rVid2 = Math.floor(Math.random()*videosUrl.length);
					}

					if(rVid3 == rVid2 || rVid3 == rVid1 || rVid3 == rVid4 || rVid3 == rVid5){
						rVid3 = Math.floor(Math.random()*videosUrl.length);
					}

					if(rVid4 == rVid2 || rVid4 == rVid3 || rVid4 == rVid1 || rVid4 == rVid5){
						rVid4 = Math.floor(Math.random()*videosUrl.length);
					}

					if(rVid5 == rVid2 || rVid5 == rVid3 || rVid5 == rVid4 || rVid5 == rVid1){
						rVid5 = Math.floor(Math.random()*videosUrl.length);
					}

					document.body.className = arController.orientation;

					//init the render
					var renderer = new THREE.WebGLRenderer({
						antialias:true
					});
					renderer.setClearColor(new THREE.Color('lightgrey'), 1)
					renderer.setSize( window.innerWidth, window.innerHeight );
					document.body.appendChild( renderer.domElement );


					if(arController.oritentation === 'potrait'){
						var w = (window.innerWidth / arController.videoHeight) * arController.videoWidth;
						var h = window.innerWidth;

						console.log(w);
						console.log(h);

						renderer.setSize(w,h);
						renderer.domElement.style.paddingBottom = (w-h) + 'px';
					}else{
						if (/Android|mobile|iPad|iPhone/i.test(navigator.userAgent)) {
							renderer.setSize(window.innerWidth,(window.innerWidth / arController.videoWidth) * arController.videoHeight);
						} else {
							renderer.setSize(arController.videoWidth,arController.videoHeight);
							document.body.className += 'desktop';
						}
					}

					document.body.insertBefore(renderer.domElement, document.body.firstChild);

					var rotationV = 0;
					var rotationTarget = 0;

					renderer.domElement.addEventListener('click', function(ev) {
						ev.preventDefault();
						rotationTarget += 1;
						console.log('clicked'+rotationTarget);
					}, false);

					var updateFcts = [];
					var scene = new THREE.Scene;
					var camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.01, 100 );

					/////////////////////////////////
					////////// Video 1 //////////////
					/////////////////////////////////

					var url1	= videosUrl[rVid1];

					// create the videoTexture
					var video1Texture= new THREEx.VideoTexture(url1)
					// videoTexture.texture.magFilter = THREE.NearestFilter;

					var video1 = video1Texture.video

					updateFcts.push(function(delta,  now){
						video1Texture.update(delta, now)
					})

					var geometryV1	= new THREE.BoxGeometry( 1, 1, 1);

					var materialV1	= new THREE.MeshBasicMaterial({
						transparent : true,
						map	: video1Texture.texture,
						overdraw: true,
						side:THREE.DoubleSide
					});

					var movieGeometryV1 = new THREE.PlaneBufferGeometry(  1, 1, 1 );
					var movieScreenV1 = new THREE.Mesh(movieGeometryV1,materialV1);
					scene.add(movieScreenV1);

					arController.loadMarker('Data/aqm_marker/patt.01', function(markerId) {
						console.log('marker ID for pikachu video & marker no. 1:',markerId);

						var markerRoot = arController.createThreeMarker(markerId);

						markerRoot.add(movieScreenV1);

						arScene.scene.add(markerRoot);

						markerZero = markerId;

					});

					/////////////////////////////////
					////////// Video 2 //////////////
					/////////////////////////////////

					var url2	= videosUrl[rVid2];

					// create the videoTexture
					var video2Texture= new THREEx.VideoTexture(url2)

					var video2 = video2Texture.video

					updateFcts.push(function(delta, now){
						video2Texture.update(delta, now)
					})

					var geometryV2	= new THREE.BoxGeometry( 1, 1, 1);

					var materialV2	= new THREE.MeshBasicMaterial({
						transparent : true,
						map	: video2Texture.texture,
						overdraw: true,
						side:THREE.DoubleSide
					});

					var movieGeometryV2 = new THREE.PlaneBufferGeometry(  1, 1, 1 );
					var movieScreenV2 = new THREE.Mesh(movieGeometryV2,materialV2);
					scene.add(movieScreenV2);

					arController.loadMarker('Data/aqm_marker/patt.02', function(markerId) {
						console.log('marker ID for COC video & marker no. 2:',markerId);

						var markerRoot = arController.createThreeMarker(markerId);

						markerRoot.add(movieScreenV2);

						arScene.scene.add(markerRoot);

						markerOne = markerId;
					});

					/////////////////////////////////
					////////// Video 3 //////////////
					/////////////////////////////////

					var url3 = videosUrl[rVid3];

					// create the videoTexture
					var video3Texture= new THREEx.VideoTexture(url3)
					// videoTexture.texture.magFilter = THREE.NearestFilter;

					var video3 = video3Texture.video

					updateFcts.push(function(delta, now){
						video3Texture.update(delta, now)
					})

					var geometryV3	= new THREE.BoxGeometry( 1, 1, 1);

					var materialV3	= new THREE.MeshBasicMaterial({
						transparent : true,
						map	: video3Texture.texture,
						overdraw: true,
						side:THREE.DoubleSide
					});

					var movieGeometryV3 = new THREE.PlaneBufferGeometry( 1, 1, 1 );
					var movieScreenV3 = new THREE.Mesh(movieGeometryV3,materialV3);
					scene.add(movieScreenV3);

					arController.loadMarker('Data/aqm_marker/patt.03', function(markerId) {
						console.log('marker ID for sintel video & marker no. 3:',markerId);

						var markerRoot = arController.createThreeMarker(markerId);

						markerRoot.add(movieScreenV3);

						arScene.scene.add(markerRoot);

						markerTwo = markerId;
					});

					/////////////////////////////////
					//// Video 4 ////////////////////
					/////////////////////////////////

					var url4 = videosUrl[rVid3];

					var video4Texture= new THREEx.VideoTexture(url4)
					var video4 = video4Texture.video

					updateFcts.push(function(delta, now){
						video4Texture.update(delta, now)
					})

					var geometryV4	= new THREE.BoxGeometry( 1, 1, 1);

					var materialV4	= new THREE.MeshBasicMaterial({
						transparent : true,
						// opacity: 0.5,
						map	: video4Texture.texture,
						overdraw: true,
						side:THREE.DoubleSide
					});


					var movieGeometryV4 = new THREE.PlaneBufferGeometry(  1, 1, 1 );
					var movieScreenV4 = new THREE.Mesh(movieGeometryV4,materialV4);
					scene.add(movieScreenV4);

					arController.loadMarker('Data/aqm_marker/patt.04', function(markerId) {
						console.log('marker ID for unity video & marker no. 4:',markerId);
						var markerRoot = arController.createThreeMarker(markerId);

						markerRoot.add(movieScreenV4);

						arScene.scene.add(markerRoot);

						markerThree = markerId;
					});


					/////////////////////////////////
					//// Video 5 ////////////////////
					/////////////////////////////////

					var url5 = videosUrl[rVid4];

					var video5Texture= new THREEx.VideoTexture(url5)
					var video5 = video5Texture.video

					updateFcts.push(function(delta, now){
						video5Texture.update(delta, now)
					})

					var geometryV5	= new THREE.BoxGeometry( 1, 1, 1);

					var materialV5	= new THREE.MeshBasicMaterial({
						transparent : true,
						map	: video5Texture.texture,
						overdraw: true,
						side:THREE.DoubleSide
					});

					var movieGeometryV5 = new THREE.PlaneBufferGeometry(  1, 1, 1 );
					var movieScreenV5 = new THREE.Mesh(movieGeometryV5,materialV5);
					scene.add(movieScreenV5);

					arController.loadMarker('Data/aqm_marker/patt.05', function(markerId) {
						console.log('marker ID for ppap video & marker no. 5:',markerId);
						var markerRoot = arController.createThreeMarker(markerId);

						markerRoot.add(movieScreenV5);

						arScene.scene.add(markerRoot);

						markerFour = markerId;
					});

					console.log('video1:',video1);

					/////////////////////////////////////////
					////////// Camera Controls //////////////
					/////////////////////////////////////////

					var mouse	= {x : 0, y : 0}
					document.addEventListener('mousemove', function(event){
						mouse.x	= (event.clientX / window.innerWidth ) - 0.5
						mouse.y	= (event.clientY / window.innerHeight) - 0.5
					}, false)

					var videos = [
						video1,
						video2,
						video3,
						video4,
						video5
					];

					arController.addEventListener('getMarker', function(ev) {
						console.log('markerID detected:',ev.data.marker.idPatt);

						if (ev.data.marker.idPatt === markerZero){
							video1.play();

						}else if(ev.data.marker.idPatt === markerOne){
							video2.play();

						}else if(ev.data.marker.idPatt === markerTwo){

							video3.play();
						}else if(ev.data.marker.idPatt === markerThree){

							video4.play();
						}else if(ev.data.marker.idPatt === markerFour){

							video5.play();


						}else{

							video1.onended = function() {
								videosUrl = [
									'ar_assets/video/clash.mp4',
									'ar_assets/video/pokemon.mp4',
									'ar_assets/video/unity.mp4',
									'ar_assets/video/sintel.mp4',
									'ar_assets/video/ppap.mp4'
								];


							};

							video2.onended = function() {
								videosUrl = [
									'ar_assets/video/clash.mp4',
									'ar_assets/video/pokemon.mp4',
									'ar_assets/video/unity.mp4',
									'ar_assets/video/sintel.mp4',
									'ar_assets/video/ppap.mp4'
								];

							};

							video3.onended = function() {
								 videosUrl = [
									'ar_assets/video/clash.mp4',
									'ar_assets/video/pokemon.mp4',
									'ar_assets/video/unity.mp4',
									'ar_assets/video/sintel.mp4',
									'ar_assets/video/ppap.mp4'
								];
							};

							video4.onended = function() {

								videosUrl = [
									'ar_assets/video/clash.mp4',
									'ar_assets/video/pokemon.mp4',
									'ar_assets/video/unity.mp4',
									'ar_assets/video/sintel.mp4',
									'ar_assets/video/ppap.mp4'
								];
							};

							video5.onended = function() {
								videosUrl = [
									'ar_assets/video/clash.mp4',
									'ar_assets/video/pokemon.mp4',
									'ar_assets/video/unity.mp4',
									'ar_assets/video/sintel.mp4',
									'ar_assets/video/ppap.mp4'
								];
							};

//							video1.pause();
//							video2.pause();
//							video3.pause();
//							video4.pause();
//							video5.pause();
						}

						//if not id detect id
//						if (!ev.data.marker.idPatt){
//							videosUrl = [
//								'ar_assets/video/clash.mp4',
//								'ar_assets/video/pokemon.mp4',
//								'ar_assets/video/unity.mp4',
//								'ar_assets/video/sintel.mp4',
//								'ar_assets/video/ppap.mp4'
//							];
//						}

//						if(ev.data.marker.idPatt !== -1){
//							video1.play();
//							video2.play();
//							video3.play();
//							video4.play();
//						}

//						if (ev.data.marker.idPatt === markerZero){
//							video1.play();
//							console.log('video 1 play');
//						}else if(ev.data.marker.idPatt === markerOne){
//							video2.play();
//							console.log('video 2 play');
//						}else if(ev.data.marker.idPatt === markerTwo){
//							console.log('video 3 play');
//							video3.play();
//						}else if(ev.data.marker.idPatt === markerThree){
//							console.log('video 4 play');
//							video4.play();
//						}else if(ev.data.marker.idPatt === markerFour){
//							console.log('video 5 play');
//							video5.play();
//						}else{
//							console.log('video pause');
//							video1.pause();
//							video2.pause();
//							video3.pause();
//							video4.pause();
//							video5.pause();
//						}
//                        else{
//							video1.pause();
//							console.log('video 1 pause');
//						}
//
//						if (ev.data.marker.idPatt === markerOne){
//							video2.play();
//							console.log('video 2 play');
//						}
//
//						if(ev.data.marker.idPatt == -1){
//							video1.pause();
//							video2.pause();
//							video3.pause();
//							video4.pause();
//						}
//						else{
//							video2.pause();
//							console.log('video 2 pause');
//						}
//
//						if(ev.data.marker.idPatt === markerZero && ev.data.marker.idPatt === markerOne){
//							video1.play();
//							video2.play();
//						}
//
//						if (ev.data.marker.idPatt === markerTwo){
//							video3.play();
//						}else{
//							video3.pause();
//						}
//
//						if (ev.data.marker.idPatt === markerThree){
//							video4.play();
//						}else{
//							video4.pause();
//						}
////
//						if (ev.data.marker.idPatt === markerFour){
//							video5.play();
//						}else{
//							video5.pause();
//						}

//						if (ev.data.marker.idPatt) {
//							console.log('Yes got the marker!!');
//							video1.play();
//							video2.play();
//							video3.play();
//							video4.play();
//						}else{
//
//						}
					});

					/////////////////////////////////////////
					////////// Scene Rendering //////////////
					/////////////////////////////////////////
					updateFcts.push(function(){
						renderer.render( scene, camera );
					});

					//////////////////////////////////////////////////////////////////////////////////
					//		loop runner							//
					//////////////////////////////////////////////////////////////////////////////////
					var lastTimeMsec= null
					requestAnimationFrame(function animate(nowMsec){
						// keep looping
						requestAnimationFrame( animate );
						// measure time
						lastTimeMsec	= lastTimeMsec || nowMsec-1000/60
						var deltaMsec	= Math.min(200, nowMsec - lastTimeMsec)
						lastTimeMsec	= nowMsec
						// call each update function
						updateFcts.forEach(function(updateFn){
							updateFn(deltaMsec/1000, nowMsec/1000)
						})
					})

					var init = function(){
						arScene.process();
						arScene.renderOn(renderer);
						requestAnimationFrame(init);
					}

					init();
					var canvas = $('canvas').attr('id', 'myCanvas');
					var can = document.getElementById("myCanvas");

					can.style.width = window.innerWidth + "px";
					can.style.height = window.innerHeight + "px";

//					can.addEventListener('ended',finishHandler,false);
//
//					function finishHandler(e){
//						alert('finish');
//					}


					// var resizeCanvas = function(){
					// 	canvas.style.width = window.innerWidth + "px";
					// 	setTimeout(function() {
					// 		canvas.style.height = window.innerHeight + "px";
					// 	}, 0);
					// }
					// window.onresize = resizeCanvas;
					// resizeCanvas();
				}
			});

			delete window.ARThreeOnLoad;
		};
		if (window.ARController && ARController.getUserMediaThreeScene) {
			ARThreeOnLoad();
		};
	}




</script>